body{
    /*background-color: #A53F2B;*/
    color:black;
    }
    input{
        max-width: 300px;
    }
    #title{
        color:white;
    }
    tr{
        background-color:#F9F9F9;
    }
    #page-margin {
    padding-top: 32px;
}
.bg {
    width: 100vw;
    z-index: -1;
    position:fixed;
    min-height:100%;
    min-width:100%;
}
mh-navigation{
    height:50px;
    width:100%;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    color: white;
    text-align: center;
}
