body{
    /*background-color: #A53F2B;*/
    background-image: url("../images/money.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 10%;
    color:black;
    }
    input{
        max-width: 300px;
    }
    #title{
        color:white;
    }
    tr{
        background-color:#F9F9F9;
    }
    #page-margin {
    padding-top: 32px;
    }

mh-navigation{
    height:50px;
    width:100%;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    color: white;
    text-align: center;
}